.forside-container
  grid-column-start: 2
  margin-top: 30px
  .forside-billede
    float: left
    margin-right: 30px
    height: 400px
    width: 350px
    animation: fadein 2.5s
    
  .forside-text
    width: 1fr
    font-size: 25px
    animation: fadein 2.5s 
    
    .forside-text2
      overflow-wrap: break-word
  
  @media only screen and (max-width: 1200px)
    .forside-billede
      height: 0px
      width: 0px
.hej2
  grid-column-start: 2
  grid-row: 3
  margin-top: 50px
.hej 
  height: 600px
  width: 1000px
  display: block
  margin-left: auto
  margin-right: auto
  margin-top: 10px
  animation: fadein 2.5s 
@media only screen and (max-width: 1200px)
    .hej 
      height:400px
      width: 650px  
@keyframes fadein
    from
      opacity: 0
    to
      opacity: 1