.åbningstider-container
  grid-column-start: 2
  grid-column-end: 2
  margin-top: 40px
  text-align: center
  .tjenester-container
    margin: 30px 0px 0px 0px
    display: grid
    grid-template-columns: 50% 50%
    // border: 1px solid $dark-grey
    .tjenester-table
      text-align: left
      margin-left: 10px
    .tjenester-katogori
      text-align: center
    .tjenester
      // text-align: left
    .hej
      display: inline-block
      color: red
    .hej2
      margin-top: 30px
      margin-left: 5vh
    .tjenesteOgpris
      // display: inline
      // display: inline-block
      // display: block
      // display: flex
      // float: left

  